<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

Decide on your problem statement that will guide your analysis for this project. For guidelines, sample prompts, or inspiration, check out the README.

**To-Do:** *Replace this cell with your problem statement.*

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [1]:
# Code:
def avg(num):
    average = sum(num)/len(num)
    return average

avg([34, 56, 78])

56.0

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [2]:
# Code:
def stdev(num):
    n = len(num)
    var = sum((i - avg(num))**2 for i in num)/n
    st_dev = var **0.5
    return st_dev

stdev([34, 56, 78])

17.962924780409974

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [3]:
# Code:
def data_clean(num):
    num = num.replace('%', '')
    new_num = float(num) / 100
    return new_num

data_clean('33.2%')

0.332

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [4]:
# Imports:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

In [5]:
# Code:
sat_17 = pd.read_csv('C:/Users/jacki/Desktop/DSI/Projects/project-1/data/sat_2017.csv')
sat_17.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

In [6]:
sat_17.isna().sum()

State                                 0
Participation                         0
Evidence-Based Reading and Writing    0
Math                                  0
Total                                 0
dtype: int64

In [7]:
sat_17.describe()

       Evidence-Based Reading and Writing        Math        Total
count                           51.000000   51.000000    51.000000
mean                           569.117647  547.627451  1126.098039
std                             45.666901   84.909119    92.494812
min                            482.000000   52.000000   950.000000
25%                            533.500000  522.000000  1055.500000
50%                            559.000000  548.000000  1107.000000
75%                            613.000000  599.000000  1212.000000
max                            644.000000  651.000000  1295.000000

In [8]:
sat_17['Math'].sort_values().head()

20     52
8     468
7     492
12    493
22    495
Name: Math, dtype: int64

In [9]:
sat_17['Participation'] = sat_17['Participation'].apply(data_clean)

In [10]:
sat_17.dtypes

State                                  object
Participation                         float64
Evidence-Based Reading and Writing      int64
Math                                    int64
Total                                   int64
dtype: object

In [11]:
column_names = ['state', 'part_2017', 'ebrw_2017', 'math_2017', 'total_score_2017']
sat_17.columns = column_names

In [12]:
sat_17.head()

        state  part_2017  ebrw_2017  math_2017  total_score_2017
0     Alabama       0.05        593        572              1165
1      Alaska       0.38        547        533              1080
2     Arizona       0.30        563        553              1116
3    Arkansas       0.03        614        594              1208
4  California       0.53        531        524              1055

In [13]:
# Code:
sat_18 = pd.read_csv('C:/Users/jacki/Desktop/DSI/Projects/project-1/data/sat_2018.csv')
sat_18.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            6%                                 595   571   1166
1      Alaska           43%                                 562   544   1106
2     Arizona           29%                                 577   572   1149
3    Arkansas            5%                                 592   576   1169
4  California           60%                                 540   536   1076

In [14]:
sat_18.isna().sum()

State                                 0
Participation                         0
Evidence-Based Reading and Writing    0
Math                                  0
Total                                 0
dtype: int64

In [15]:
sat_18.describe()

       Evidence-Based Reading and Writing        Math        Total
count                           51.000000   51.000000    51.000000
mean                           563.686275  556.235294  1120.019608
std                             47.502627   47.772623    94.155083
min                            480.000000  480.000000   977.000000
25%                            534.500000  522.500000  1057.500000
50%                            552.000000  544.000000  1098.000000
75%                            610.500000  593.500000  1204.000000
max                            643.000000  655.000000  1298.000000

In [16]:
sat_18['Participation'] = sat_18['Participation'].apply(data_clean)

In [17]:
sat_18.head()

        State  Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama           0.06                                 595   571   1166
1      Alaska           0.43                                 562   544   1106
2     Arizona           0.29                                 577   572   1149
3    Arkansas           0.05                                 592   576   1169
4  California           0.60                                 540   536   1076

In [18]:
sat_18.dtypes

State                                  object
Participation                         float64
Evidence-Based Reading and Writing      int64
Math                                    int64
Total                                   int64
dtype: object

In [19]:
column_names = ['state', 'part_2018', 'ebrw_2018', 'math_2018', 'total_score_2018']
sat_18.columns = column_names
sat_18.head()

        state  part_2018  ebrw_2018  math_2018  total_score_2018
0     Alabama       0.06        595        571              1166
1      Alaska       0.43        562        544              1106
2     Arizona       0.29        577        572              1149
3    Arkansas       0.05        592        576              1169
4  California       0.60        540        536              1076

In [20]:
# Code:
sat_19 = pd.read_csv('C:/Users/jacki/Desktop/DSI/Projects/project-1/data/sat_2019.csv')
sat_19.head()

        State Participation Rate  EBRW  Math  Total
0     Alabama                 7%   583   560   1143
1      Alaska                41%   556   541   1097
2     Arizona                31%   569   565   1134
3    Arkansas                 6%   582   559   1141
4  California                63%   534   531   1065

In [21]:
sat_19.isna().sum()

State                 0
Participation Rate    0
EBRW                  0
Math                  0
Total                 0
dtype: int64

In [22]:
sat_19.describe()

             EBRW        Math        Total
count   53.000000   53.000000    53.000000
mean   558.000000  548.471698  1106.528302
std     47.554422   53.785044   100.994784
min    483.000000  445.000000   935.000000
25%    518.000000  506.000000  1024.000000
50%    550.000000  545.000000  1097.000000
75%    610.000000  596.000000  1200.000000
max    636.000000  648.000000  1284.000000

In [23]:
sat_19['Participation Rate'] = sat_19['Participation Rate'].replace('—', 'NaN')

In [24]:
sat_19['Participation Rate'] = sat_19['Participation Rate'].apply(data_clean)

In [25]:
sat_19.isna().sum()

State                 0
Participation Rate    2
EBRW                  0
Math                  0
Total                 0
dtype: int64

In [26]:
sat_19.dtypes

State                  object
Participation Rate    float64
EBRW                    int64
Math                    int64
Total                   int64
dtype: object

In [27]:
column_names = ['state', 'part_2019', 'ebrw_2019', 'math_2019', 'total_score_2019']
sat_19.columns = column_names
sat_19.head()

        state  part_2019  ebrw_2019  math_2019  total_score_2019
0     Alabama       0.07        583        560              1143
1      Alaska       0.41        556        541              1097
2     Arizona       0.31        569        565              1134
3    Arkansas       0.06        582        559              1141
4  California       0.63        534        531              1065

In [28]:
# Code:
sat_19_bymajor = pd.read_csv('C:/Users/jacki/Desktop/DSI/Projects/project-1/data/sat_2019_by_intended_college_major.csv')
sat_19_bymajor.head()

,IntendedCollegeMajor,TestTakers,Percent,Total,ReadingWriting,Math
0,"Agriculture, AgricultureOperations, and Relate...","24,913",1%,977,496,481
1,Architecture and Related Services,"28,988",2%,1047,520,527
2,"Area, Ethnic, Cultural, and Gender Studies","2,629",0%,1040,536,504
3,Biological and Biomedical Sciences,"155,834",8%,1139,572,566
4,"Business, Management, Marketing, and Related S...","221,523",12%,1072,534,537

In [29]:
sat_19_bymajor.isna().sum()

IntendedCollegeMajor    0
TestTakers              0
Percent                 0
Total                   0
ReadingWriting          0
Math                    0
dtype: int64

In [30]:
sat_19_bymajor.describe()

             Total  ReadingWriting        Math
count    38.000000       38.000000   38.000000
mean   1058.500000      535.500000  523.000000
std      82.445969       41.362439   43.386385
min     916.000000      458.000000  456.000000
25%     988.250000      501.250000  486.500000
50%    1066.500000      537.000000  527.000000
75%    1115.500000      569.750000  542.250000
max    1242.000000      597.000000  646.000000

In [31]:
sat_19_bymajor['Percent'] = sat_19_bymajor['Percent'].apply(data_clean)

In [32]:
sat_19_bymajor['TestTakers'] = sat_19_bymajor['TestTakers'].str.replace(',', '').astype(int)

In [33]:
sat_19_bymajor.head()

,IntendedCollegeMajor,TestTakers,Percent,Total,ReadingWriting,Math
0,"Agriculture, AgricultureOperations, and Relate...",24913,0.01,977,496,481
1,Architecture and Related Services,28988,0.02,1047,520,527
2,"Area, Ethnic, Cultural, and Gender Studies",2629,0.00,1040,536,504
3,Biological and Biomedical Sciences,155834,0.08,1139,572,566
4,"Business, Management, Marketing, and Related S...",221523,0.12,1072,534,537

In [34]:
col_names = ['intended_college_major', 'test_takers', 'percent', 'total_score', 'read_write', 'math']
sat_19_bymajor.columns = col_names
sat_19_bymajor['year'] = '2019'
sat_19_bymajor.head()

,intended_college_major,test_takers,percent,total_score,read_write,math,year
0,"Agriculture, AgricultureOperations, and Relate...",24913,0.01,977,496,481,2019
1,Architecture and Related Services,28988,0.02,1047,520,527,2019
2,"Area, Ethnic, Cultural, and Gender Studies",2629,0.00,1040,536,504,2019
3,Biological and Biomedical Sciences,155834,0.08,1139,572,566,2019
4,"Business, Management, Marketing, and Related S...",221523,0.12,1072,534,537,2019

In [35]:
sat_19_bymajor.dtypes

intended_college_major     object
test_takers                 int32
percent                   float64
total_score                 int64
read_write                  int64
math                        int64
year                       object
dtype: object

In [36]:
sat_19_bymajor.loc[36]

intended_college_major    Other
test_takers               26888
percent                    0.01
total_score                 963
read_write                  488
math                        476
year                       2019
Name: 36, dtype: object

In [37]:
sat_19_bymajor.to_csv('Sat 2019 by Intended College Major')

In [38]:
sat_all = pd.merge(pd.merge(sat_17, sat_18, on='state'), sat_19, on='state')
sat_all.head()

,state,part_2017,ebrw_2017,math_2017,total_score_2017,part_2018,ebrw_2018,math_2018,total_score_2018,part_2019,ebrw_2019,math_2019,total_score_2019
0,Alabama,0.05,593,572,1165,0.06,595,571,1166,0.07,583,560,1143
1,Alaska,0.38,547,533,1080,0.43,562,544,1106,0.41,556,541,1097
2,Arizona,0.30,563,553,1116,0.29,577,572,1149,0.31,569,565,1134
3,Arkansas,0.03,614,594,1208,0.05,592,576,1169,0.06,582,559,1141
4,California,0.53,531,524,1055,0.60,540,536,1076,0.63,534,531,1065

In [39]:
sat_all.dtypes

state                object
part_2017           float64
ebrw_2017             int64
math_2017             int64
total_score_2017      int64
part_2018           float64
ebrw_2018             int64
math_2018             int64
total_score_2018      int64
part_2019           float64
ebrw_2019             int64
math_2019             int64
total_score_2019      int64
dtype: object

In [40]:
sat_all.to_csv('SAT All')

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**state**|*object*|sat_2017, sat_2018, sat_2019|The state in which the scores are coming from.|
|**part_2017**|*float*|sat_2017|The percent of participation for each state in the SAT in 2017.|
|**ebrw_2017**|*int*|sat_2017|The SAT Evidence-Based Reading and Writing Score for each state in 2017.|
|**math_2017**|*int*|sat_2017|The SAT Math Score for each state in 2017.|
|**total_score_2017**|*int*|sat_2017|The total SAT score for each state in 2017.|
|**part_2018**|*float*|sat_2018|The percent of participation for each state in the SAT in 2018.|
|**ebrw_2018**|*int*|sat_2018|The SAT Evidence-Based Reading and Writing Score for each state in 2018.|
|**math_2018**|*int*|sat_2018|The SAT Math Score for each state in 2018.|
|**total_score_2018**|*int*|sat_2018|The total SAT score for each state in 2018.|
|**part_2019**|*float*|sat_2019|The percent of participation for each state in the SAT in 2019.|
|**ebrw_2019**|*int*|sat_2019|The SAT Evidence-Based Reading and Writing Score for each state in 2019.|
|**math_2019**|*int*|sat_2019|The SAT Math Score for each state in 2019.|
|**total_score_2019**|*int*|sat_2019|The total SAT score for each state in 2019.|
|**intended_college_major**|*object*|sat_2019_by_intended_college_major|The intended college major for SAT test takers in 2019.|
|**test_takers**|*int*|sat_2019_by_intended_college_major|The amount of SAT test takers in 2019 for each respective intended college major.|
|**percent**|*float*|sat_2019_by_intended_college_major|The percent of total SAT test takers in 2019 for each respective intended college major.|
|**total_score**|*int*|sat_2019_by_intended_college_major|The total SAT score for each respective intended college major in 2019.|
|**read_write**|*int*|sat_2019_by_intended_college_major|The SAT Evidence-Based Reading and Writing Score for each respective intended college major in 2019.|
|**math**|*int*|sat_2019_by_intended_college_major|The SAT Math score for each respective intended college major in 2019.|
|**year**|*int*|sat_2019_by_intended_college_major|The year that these SAT scores were obtained, 2019.|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [48]:
sat_all.describe()

,part_2017,ebrw_2017,math_2017,total_score_2017,part_2018,ebrw_2018,math_2018,total_score_2018,part_2019,ebrw_2019,math_2019,total_score_2019
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,0.398039,569.117647,547.627451,1126.098039,0.457451,563.686275,556.235294,1120.019608,0.490588,560.803922,552.196078,1113.078431
std,0.352766,45.666901,84.909119,92.494812,0.373143,47.502627,47.772623,94.155083,0.387476,46.248035,51.290553,97.197910
min,0.020000,482.000000,52.000000,950.000000,0.020000,480.000000,480.000000,977.000000,0.020000,483.000000,460.000000,943.000000
25%,0.040000,533.500000,522.000000,1055.500000,0.045000,534.500000,522.500000,1057.500000,0.055000,527.500000,511.500000,1038.000000
50%,0.380000,559.000000,548.000000,1107.000000,0.520000,552.000000,544.000000,1098.000000,0.540000,550.000000,546.000000,1097.000000
75%,0.660000,613.000000,599.000000,1212.000000,0.775000,610.500000,593.500000,1204.000000,0.820000,612.000000,599.000000,1210.000000
max,1.000000,644.000000,651.000000,1295.000000,1.000000,643.000000,655.000000,1298.000000,1.000000,636.000000,648.000000,1284.000000

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

In [91]:
# https://stackoverflow.com/questions/55048445/dictionary-comprehension-to-apply-a-function-to-dataframe-columns
sd_1 = {col.name: stdev(col) for col in [sat_all[i] for i in sat_all.columns 
     if sat_all[i].dtype=='float64' or sat_all[i].dtype=='int64']}

sd_1

{'part_2017': 0.3492907076664507,
 'ebrw_2017': 45.21697020437866,
 'math_2017': 84.07255521608297,
 'total_score_2017': 91.58351056778743,
 'part_2018': 0.3694661922353942,
 'ebrw_2018': 47.03460978357609,
 'math_2018': 47.30194550378352,
 'total_score_2018': 93.22742384464433,
 'part_2019': 0.3836584048685726,
 'ebrw_2019': 45.792378682545134,
 'math_2019': 50.78521461840036,
 'total_score_2019': 96.24027185617864}

In [67]:
sat_19_bymajor.describe()

         test_takers    percent  total_score  read_write        math
count      38.000000  38.000000    38.000000   38.000000   38.000000
mean    48394.500000   0.025789  1058.500000  535.500000  523.000000
std     72753.092558   0.039975    82.445969   41.362439   43.386385
min       283.000000   0.000000   916.000000  458.000000  456.000000
25%      6611.000000   0.000000   988.250000  501.250000  486.500000
50%     16370.500000   0.010000  1066.500000  537.000000  527.000000
75%     60215.750000   0.035000  1115.500000  569.750000  542.250000
max    331026.000000   0.180000  1242.000000  597.000000  646.000000

In [85]:
sd_2 = {col.name: stdev(col) for col in [sat_19_bymajor[i] for i in sat_19_bymajor.columns 
       if sat_19_bymajor[i].dtype=='float64' or sat_19_bymajor[i].dtype=='int64' 
       or sat_19_bymajor[i].dtype=='int32']}
sd_2

{'test_takers': 71789.43289002257,
 'percent': 0.03944560404747735,
 'total_score': 81.35392139482761,
 'read_write': 40.814567832679806,
 'math': 42.811705236572365}

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

In [ ]:
#Code:

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

In [ ]:
#Code:

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!